<section>
  <div class="max-w-5xl py-5 flex flex-col gap-5">
    <h1 class="text-7xl text-blue-900">Our Projects</h1>
    <h1 class="text-5xl text-gray-600">Some of the projects we have been solving at <span class="text-blue-900"><strong>Afrikatek</strong></span>
      Solutions</h1>
    <p class="text-gray-600">We have been building scalable solutions for clients ranging from website development all
      the way to fully fledged
      web application solutions. We are firm believers in applying well established solutions that have stood a test of
      time. We do not believe that there is need to invent the wheel now. We believe that our solutions should be
      informed
      by previous people's work both mistakes and successes.</p>
  </div>
  <div>
    <div class="flex flex-col gap-3 max-w-md hover:shadow-lg hover:rounded-md hover:bg-gray-100 p-5">
      <img src="#" alt="Project Icon Image"/>
      <h4 class="text-2xl text-blue-900">Project Title</h4>
      <hr>
      <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem magnam, maiores necessitatibus
        pariatur sunt velit. Eius eligendi nesciunt reprehenderit!</p>
      <a href="#">Project Url</a>
    </div>
  </div>
</section>
