<div class="flex gap-10">
  <div class="max-w-2/5 pt-10 mt-10">
    <h1 class="text-7xl text-blue-900 mb-5 text-center">Get in touch</h1>
    <p class="text-gray-600 text-sm/6 text-center mb-10">
      Afrikatek is a solution hub where we can build your next big solutions. We would love to hear your challenges and
      try to propose a solutions that best would suit your needs. Please drop down a few details on the form and let us
      get in touch with you and propose a solution.
    </p>
    <div class="flex gap-6 mt-5 items-center p-3 border border-gray-300 rounded-md shadow">
      <fa-icon class="text-blue-900" [icon]="faBuilding" size="2x"></fa-icon>
      <div class="flex flex-col gap-2">
        <p class="text-md/6 text-gray-600 ">Address</p>
        <p class="text-md/6 text-gray-600">123, Main Street, Nairobi, Kenya</p>
      </div>
    </div>
    <div class="flex gap-6 mt-5 items-center p-3 border border-gray-300 rounded-md shadow">
      <fa-icon class="text-blue-900" [icon]="faPhone" size="2x"></fa-icon>
      <div class="flex flex-col gap-2">
        <p class="text-md/6 text-gray-600 ">Phone Number</p>
        <p class="text-md/6 text-gray-600 ">(+2774)-884-1383</p>
      </div>
    </div>
    <div class="flex gap-6 mt-5 items-center p-3 border border-gray-300 rounded-md shadow">
      <fa-icon class="text-blue-900" [icon]="faEnvelope" size="2x"></fa-icon>
      <div>
        <p class="text-md/6 text-gray-600 ">Email</p>
        <p class="text-md/6 text-gray-600 ">support&#64;afrikatek.co.za</p>
      </div>
    </div>
  </div>
  <div class="min-w-3/5 flex flex-col gap-5 p-10 m-10 mx-auto border border-gray-300 rounded-md shadow">
    <div class="text-center">
      <h2 class="text-7xl text-blue-900 mb-3">Contact Us</h2>
      <p class="text-gray-600">Give us a shout so that we can help you through your challenge.</p>
    </div>
    <form action="" method="post">
      <div class="grid grid-cols-2 gap-x-8 gap-y-6">
        <div class="flex flex-col gap-2">
          <label class="block text-sm/6 font-semibold text-gray-900" for="firstName">First Name</label>
          <div>
            <input type="text" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" name="firstName" id="firstName" placeholder="Enter First Name" />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="block text-sm/6 font-semibold text-gray-900" for="">Last Name</label>
          <div>
            <input class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" type="text" name="lastName" id="" placeholder="Enter Last Name" />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="block text-sm/6 font-semibold text-gray-900" for="">Company</label>
          <div>
            <input class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" type="text" name="companyName" id="" placeholder="Enter company name" />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="block text-sm/6 font-semibold text-gray-900" for="">Email</label>
          <div>
            <input class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" type="email" name="firstName" id="" placeholder="Email (example@example.com)" />
          </div>
        </div>
        <div class="flex flex-col gap-2">
          <label class="block text-sm/6 font-semibold text-gray-900" for="">Phone Number</label>
          <div>
            <input class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600" type="text" name="phoneNumber" id="" placeholder="Phone (+2774)-884-1383)" />
          </div>
        </div>
      </div>
      <div class="flex flex-col gap-2 mt-5 mb-5">
        <label class="block text-sm/6 font-semibold text-gray-900" for="">Message</label>
        <div>
          <textarea class="block py-2 w-full rounded-md bg-white px-3.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:-outline-offset-2 focus:outline-indigo-600" name="message" id="message" rows="5" placeholder="Please let us know how we can assist you." ></textarea>
        </div>
      </div>
      <div class="flex items-center justify-end mt-5">
        <button class="text-sm/6 font-semibold text-gray-900 py-2 px-6 border rounded-md border-blue-900 hover:bg-blue-900 hover:text-white" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
