<div class="flex flex-col gap-4 py-10 bg-gray-100">
  <div class="mx-auto max-w-7xl flex gap-5">
    <a href="">Home</a>
    <a href="">About Us</a>
    <a href="">Services</a>
    <a href="">Projects</a>
    <a href="">Blog</a>
    <a href="">Contact Us</a>
  </div>
  <div class="mx-auto max-w-7xl flex gap-5">
    <p>Follow Us</p>
    <a href="">Facebook</a>
    <a href="">Twitter</a>
    <a href="">Instagram</a>
    <a href="">LinkedIn</a>
    <a href="">Youtube</a>
  </div>
  <div class="mx-auto max-w-7xl flex gap-5">
    <p>Copyright &copy; 2021 Afrikatek Solutions</p>
  </div>
</div>
