<div class="flex flex-col gap-4 py-10 bg-gray-100">
  <div class="mx-auto max-w-7xl flex gap-5 text-gray-700 text-xl">
    <a class="hover:text-blue-400" href="">Home</a>
    <a class="hover:text-blue-400" href="">About Us</a>
    <a class="hover:text-blue-400" href="">Services</a>
    <a class="hover:text-blue-400" href="">Projects</a>
    <a class="hover:text-blue-400" href="">Blog</a>
    <a class="hover:text-blue-400" href="">Contact Us</a>
  </div>
  <div class="mx-auto max-w-7xl flex gap-5 py-5">
    <p>Follow Us</p>
    <a href=""><fa-icon class="text-blue-600" [icon]="faFacebook" size="2x"></fa-icon></a>
    <a href=""><fa-icon class="text-blue-500" [icon]="faTwitter" size="2x"></fa-icon></a>
    <a href=""><fa-icon class="text-red-800" [icon]="faYouTube" size="2x"></fa-icon></a>
    <a href=""><fa-icon class="text-blue-900" [icon]="faLinkedin" size="2x"></fa-icon></a>
    <a href=""><fa-icon class="text-red-800" [icon]="faInstagram" size="2x"></fa-icon></a>
  </div>
  <div class="mx-auto max-w-7xl flex gap-5">
    <p>Copyright &copy; 2021 Afrikatek Solutions</p>
  </div>
</div>
