<div class="flex justify-between items-center py-30">
  <div class="max-w-1/2">
    <h1 class="text-4xl text-blue-950 my-2">Welcome to Afrikatek Solutions</h1>
    <h2 class="text-2xl">Innovating with Resilience</h2>
    <p class="text-md my-6 text-gray-700 max-w-9/10">
      At <strong>Afrikatek</strong>, we are dedicated to engineering resilient, maintainable, and robust digital solutions that empower businesses to thrive in an evolving digital landscape. We specialize in crafting high-performance websites, designing end-to-end web solutions—from powerful backends to dynamic frontends—customizing software to fit unique business needs, and optimizing email configurations alongside Office 365 administration.
      With a commitment to reliability and scalability, we ensure that every solution we deliver is built to last, adaptable to change, and positioned for growth.
    </p>
    <button class="py-3 px-6 border border-blue-300 rounded hover:bg-blue-500 hover:text-white">Learn More</button>
  </div>
  <img class="max-w-1/2 rounded-2xl" src="./img/home-computer-img.jpg" alt="Home Computer">
</div>
